*{
  font-size: 14px;
  font-weight: bold;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.App {
  font-style: arial;
  background-color: rgb(255, 205, 205);
  min-height: 800px;
}

.body {
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: red;
  box-shadow: 1px 1px 1px 1px firebrick;
}

.nav-panel {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: red;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.menu-icon:hover .nav-panel {
  transform: translateX(0%);
}

.nav-li {
  display: block;
  height: 100px;
  line-height: 100px;
  width: 250px;
  border: solid 1px rgb(200, 200, 200);
}

.nav-li:hover {
  opacity: 0.5;
}

.logo {
  font-size: 35px;
  font-family: copperplate;
  text-shadow: 1px 1px rgb(158, 158, 158);
  width: 60%;
}

.nav-links {
  display: flex;
  width: 20%;
}

.nav-links * {
  height: 60px;
  line-height: 60px;
  width: 90px;
}

.nav-links *:hover {
  color: red;
  background-color: white;
}

.intro {
  float: left;
  margin: 120px 0 0 100px;
  width: 500px;
  font-size: 50px;
  color: red;
  text-shadow: 1px 1px crimson;
}

.login-container, .register-container {
  display: flex;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 80px;
  min-height: 500px;
  width: 450px;
  background-color: white;
  border: solid 1px #EBEBEB;
  border-radius: 10px;
  box-shadow: 0 0 4px #ccc;
}

.login-form *, .register-form * {
  font-family: fantasy;
  letter-spacing: 1px;
}

.login-label, .register-label {
  color: green;
  font-size: 30px;
}

.authenticate-btn {
  background-color: limegreen;
  font-size: 16px;
  height: 70px;
  width: 80%;
  border-radius: 5px;
}

.room-form {
  display: grid;
  grid-template-columns: 25% 65%;
  grid-gap: 0 40px;
  min-height: 800px;
  width: 100%;
  color: black;
  background-color: white;
}

.room-form * {
  font-size: 16px;
  font-family: copperplate;
  color: black;
}

.room-form label {
  font-size: 18px;
  color: navy;
  text-align: right;
}

.room-form input {
  height: 45px;
  text-indent: 10px
};

.room-container {
  width: 90%;
}

.room {
  display: inline-block;
  float: left;
  margin: 50px 0 0 3%;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}

.room-heading {
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 18px;
  font-family: serif;
  background-color: navy;
  border-radius: 5px 5px 0 0;
}

.room-body {
  padding-top: 5px;
  text-indent: 10px;
  text-align: left;
  min-height: 180px;
  font-family: serif;
  color: gray;
  background-color: rgb(215, 215, 255);
}

.room-footing {
  padding: 10px 0;
  min-height: 70px;
  background-color: navy;
  border-radius: 0 0 5px 5px;
}

.join-btn {
  height: 35px;
  width: 80px;
  background-color: rgb(138, 67, 214);
  border-radius: 5px;
}

.room-label {
  padding: 40px 0;
}

.my-room {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border: ridge 0.5px rgb(204, 204, 204);
  text-transform: uppercase;
}

.page-container {
  min-height: 800px;
  margin-top: 100px;
}

.page-divider {
  display: flex;
  justify-content: space-around;
}

.topic-section {
  width: 65%;
  min-height: 700px;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
}

.page-label {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: red;
  border-bottom: 1px solid rgb(200, 200, 200);
  border-radius: 15px 15px 0 0;
}

.topic-label {
  margin-top: 30px;
  display: block;
  width: 200px;
  height: 90px;
  font-size: 32px;
  font-family: serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: grey;
}

.page-features {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px;
  align-self: flex-start;
  min-height: 200px;
  width: 25%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

.page-features * {
  align-self: flex-start;
  height: 50px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
}

.post-btn {
  background-color: navy;
}

.invite-btn {
  background-color: red;
}

.invite-user {
  grid-column: 1 / 3;
}

.category-li:hover {
 opacity: 0.5;
}

.category-input {
  float: left;
  margin: 10px 0 0 10px;
  height: 20px;
  width: 20px;
}

.topic {
  display: flex;
  margin-left: 15%;
  min-height: 50px;
  width: 60%;
  font-size: 18px;
  border: 1px solid rgb(136, 136, 255);
  background-color: cornflowerblue;
}

.topic-expand {
  margin: 50px 0 0 12.5%;
  width: 75%;
  text-indent: 10px;
  background-color: limegreen;
  border-radius: 5px;
  border: 2px solid gray;
}

.topic-title {
  font-size: 32px;
  width: 100%;
  padding-top: 10px;
}
 
.topic-detail {
  padding: 20px 0 10px 0;
  width: 100%;
  border-bottom: 2px solid rgb(200, 200, 200);
}

.comment-label {
  padding: 20px 0 10px 0;
  border-bottom: 2px solid rgb(200, 200, 200);
  width: 100%;
}

.comment-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.comment {
  display: flex;
  margin-top: 30px;
  width: 80%;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px white;
}

.comment-content {
  display: flex;
  flex-direction: column;
  width: 93%;
}

.comment-body {
  padding-top: 10px;
  text-align: left;
  text-indent: 25px;
  min-height: 200px;
  width: 100%;
  color: black;
  background-color: white;
  border-radius: 5px 0 0 5px;
}

.comment-footing {
  display: flex;
  justify-content: space-between;
  height: 40px; 
  width: 90%;
}

.comment-icons {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  width: 7%;
  background-color: rgb(30, 190, 30);
  border-radius: 0 5px 5px 0;
}

.reply-box {
  display: flex;
  width: 85%;
  margin-left: 7.5%;
  padding: 40px 0 50px 0;
}

input, textarea {
  text-align: left;
  text-indent: 1px;
  width: 90%;
  color: black;
}

input:hover, textarea:hover, select:hover, button:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}