@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.App { min-height: 700px }

#nav-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 60px;
  background: green;
  box-shadow: 0 2px 3px gray;
  z-index: 2;
}

#logo { font-size: 30px; color: white; width: 60%; }

#nav-links { display: flex; width: 20%; }

.nav-btn { height: 60px; line-height: 60px; width: 90px; color: white; }

.nav-btn:hover { color: green; background: white; }

#home {
  height: 700px;
  width: 100%;
}

#intro-left {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  z-index: 3;
  animation: slideIn 0.4s linear;
}

#intro-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 70%;
  background: url("https://cdn.pixabay.com/photo/2014/11/29/19/21/social-media-550766_960_720.jpg");
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
}

#intro-content { margin-bottom: 125px; font-size: 50px; text-shadow: 0 0 3px grey; }

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: limegreen;
  opacity: 0.5;
  z-index: 2;
}

@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

#intro-content > span { display: block; color: brown; font-size: 16px; }
#intro-content > span > span { font-size: 16px; color: navy; }

.nav-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 2px 3px black;
  z-index: 3;
}

.menu-icon:hover .nav-panel { transform: translateX(0%); }

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background: indigo;
  animation: backgroundSwap 10s linear infinite alternate;
}

.profile-img {
  margin-top: 20px;
  height: 175px;
  width: 175px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 2px 3px, 0 -1px 3px;
}

.profile-name { margin-top: 10px; font-size: 24px; font-style: italic; color: white; }

.nav-li { height: 100px; line-height: 100px; width: 275px; background-color: white; }

.logout { border-bottom-right-radius: 10px; color: red; }

.nav-li:hover { background: rgb(218, 218, 218); }

#login-container, #register-container { 
  min-height: 700px;
  display: flex; 
  background: rgb(207, 255, 207);
}

#login-form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: 425px;
  width: 600px;
  font-weight: bolder;
  background: white;
  border: 1px border grey;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  z-index: 2;
}

#login-label { 
  display: flex;
  margin-bottom: auto;
  font-size: 24px; 
  height: 20%;
  width: 100%;
  color: green; 
  background: yellowgreen;
  box-shadow: 0 0 5px grey;
  border-radius: 10px 10px 0 0;
}

#register-link, #login-link {
  align-self: flex-start;
  justify-self: unset;
  margin-left: 10%;
  padding-right: 50px;
  font-size: 16px; 
  color: blue;
  border: 2px solid transparent; 
}

#login-link { margin: 60px 0 70px 10% ; font-size: 20px; }

#register-link:hover, #login-link:hover { border-bottom: 2px solid blue;}

#login-form button { margin: auto 0 30px 0; height: 40px; background: yellowgreen; }

#authenticate-btn {
  color: white;
  background: limegreen;
  font-size: 16px;
  height: 70px;
  width: 80%;
  border-radius: 5px;
}

#register-form { min-height: 600px; width: 100%; border-radius: 5px; background: limegreen; }

#register-label {
  text-align: left;
  text-indent: 50px;
  padding: 42px 0;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px limegreen;
  width: 100%;
  background: rgb(216, 255, 216);
  color: green;
  border-radius: 5px 5px;
}

#image-section { 
  position: relative;
  display: flex; 
  justify-content: space-around; 
  min-height: 600px; 
  box-shadow: 0 0 5px grey; 
}

#preview { height: 400px; width: 400px; object-fit: cover; border-radius: 200px; box-shadow: 0 0 5px; }

#image-select { display: flex; flex-direction: column; align-items: unset; height: 100%; }

.Dropzone {
  display: flex;
  margin-bottom: 20px;
  height: 350px;
  width: 275px;
  font-size: 18px;
  border-radius: 10px;
  color: forestgreen;
  background: rgb(216, 255, 216);
  box-shadow: 0 0 3px;
  border: 3px dashed forestgreen;
}

#input-section { display: flex; flex-direction: column; height: 550px;  background: rgb(216, 255, 216); }

#input-section input, #input-section button { font-size: 16px; width: 80%; }

#submit-btn { 
  height: 50px; 
  width: 80%; 
  font-size: 18px; 
  letter-spacing: 1px;
  color: white; 
  background: limegreen; 
}

.dashboard-container { min-height: 800px; margin: 5% 0 0 10%; width: 80%; }

.create-room, .join-room {
  display: inline-flex;
  height: 100px;
  width: 350px;
  font-size: 20px;
  font-style: italic;
  color: white;
  background: limegreen;
  border-radius: 10px;
  text-shadow: 1px 1px grey;
}

.create-room:hover, .post-btn:hover {
  box-shadow: 1px 3px 3px green, 0 -1px 3px green;
}

.join-room:hover {
  box-shadow: 1px 3px 3px rgb(172, 112, 0), 0 -1px 3px rgb(173, 113, 0);
}

.room-nav { margin: 0 5%; width: 90%; }

.room-link {
  float: left;
  display: inline-block;
  margin: 50px 0 0 25px;
  height: 100px;
  line-height: 100px;
  width: 20%;
  color: blue;
  background: rgb(226, 226, 226);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  transition: 0.5s all;
  transition-delay: 0.5s;
}

.room-link:hover { font-size: 20px; line-height: 150px; height: 150px; width: 300px; box-shadow: 0 0 5px black; }

.room-form {
  display: grid;
  grid-template-columns: 25% 65%;
  grid-gap: 0 40px;
  min-height: 800px;
  width: 100%;
  color: black;
  background: white;
}

.room-form * { font-size: 16px; font-family: sans-serif; }

.room-form label { font-size: 18px; color: navy; text-align: right; }

.room-form input { height: 45px; text-indent: 10px }

.room-container { width: 90%; }

.room {
  display: inline-block;
  float: left;
  margin: 50px 0 0 3%;
  width: 20%;
  background: rgb(226, 255, 226);
  border-radius: 5px;
  box-shadow: 0 0 3px grey;
}

.room-heading {
  min-height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 18px;
  color: rgb(231, 231, 231);
  background: green;
  border-radius: 5px 5px 0 0;
}

.room-body {
  text-align: left;
  padding-top: 5px;
  min-height: 180px;
  margin-left: 5%;
  width: 90%;
  background: rgb(226, 255, 226);
}

.room-footing { padding: 10px 0; min-height: 70px; background: green; border-radius: 0 0 5px 5px; }

.room-footing * { color: rgb(231, 231, 231); }

.join-btn {
  height: 35px;
  width: 80px;
  background: teal;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
}

.room-label { display: block; padding: 40px 0; color: white; }

.my-room {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border: ridge 0.5px rgb(204, 204, 204);
  text-transform: uppercase;
}

.page-container { margin-top: 5%; min-height: 800px; }

.topic-section {
  display: inline-block;
  margin-top: 2px;
  width: 75%;
  min-height: 700px;
  background: rgb(233, 233, 233);
  border-radius: 15px;
  box-shadow: 3px 3px 3px grey, -2px -2px 2px grey;
}

.page-label {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
  background: limegreen;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 1px 3px black;
}

.topic-label {
  margin-top: 30px;
  display: block;
  width: 200px;
  height: 90px;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: grey;
}

.page-side {
  display: inline-flex;
  vertical-align: top;
  flex-direction: column;
  margin-left: 2%;
  min-height: 350px;
  width: 20%;
}

.post-btn {
  display: inline-flex;
  margin-top: 10px;
  height: 75px;
  width: 95%;
  font-size: 20px;
  font-style: italic;
  text-shadow: 1px 1px grey;
  color: white;
  background: limegreen;
  border-radius: 10px;
  box-shadow: 1px 2px 2px green;
}

.member-list {
  margin-top: 25%;
  min-height: 300px;
  width: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px;
}

.member-label {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background: indigo;
  border-radius: 10px 10px 0 0;
}

.member {
  display: flex;
  margin: 5% 0 0 5%;
  width: 90%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 1px grey;
  border-radius: 50px;
  background: rgb(218, 166, 255);
}

.member-img { object-fit: cover; height: 70px; width: 70px; border-radius: 50px; }

.member-name { margin-right: 30px; font-style: italic; animation: colorSwap 3s linear infinite alternate; }

.category-input { float: left; margin: 10px 0 0 10px; height: 20px; width: 20px; }

.topic {
  display: flex;
  margin-left: 15%;
  min-height: 50px;
  width: 60%;
  font-size: 18px;
  color: white;
  background: limegreen;
  border-radius: 4px;
  box-shadow: 0 0 3px grey;
}

.topic:hover { box-shadow: 0 0 5px 2px grey }

.topic-expand {
  margin: 50px 0 0 12.5%;
  width: 75%;
  text-indent: 10px;
  background: limegreen;
  border-radius: 5px;
  border: 2px solid gray;
}

.topic-expand div { color: white; }

.topic-title { font-size: 32px; width: 100%; padding-top: 10px; }
 
.topic-detail { padding: 20px 0 10px 0; width: 100%; border-bottom: 2px solid rgb(200, 200, 200); }

.comment-label { padding: 20px 0 10px 0; border-bottom: 2px solid rgb(200, 200, 200); width: 100%; }

.comment-list { display: flex; flex-direction: column; padding-top: 15px; }

.comment {
  display: flex;
  margin-top: 30px;
  width: 80%;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px white;
}

.comment-content { display: flex; flex-direction: column; width: 93%; }

.comment-body {
  padding-top: 10px;
  text-align: left;
  text-indent: 25px;
  min-height: 200px;
  width: 100%;
  background: white;
  border-radius: 5px 0 0 5px;
}

.comment-footing { display: flex; justify-content: space-between; height: 40px; width: 90%; }

.comment-icons {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  width: 7%;
  background: rgb(30, 190, 30);
  border-radius: 0 5px 5px 0;
}

.reply-box { display: flex; width: 85%; margin-left: 7.5%; padding: 40px 0 50px 0; }

input, textarea { 
  text-align: left; 
  text-indent: 5px; 
  width: 80%; 
  color: black; 
  border: 1px solid rgb(209, 209, 209); 
  border-radius: 3px;
}

input:focus { outline-color: forestgreen; }

.Dropzone:hover, .category-li:hover, button:hover { opacity: 0.5; }

button { box-shadow: 0 0 3px black; border: 0; }

a { text-decoration: none; color: blue; }

.submit-btn {
  letter-spacing: 2px;
  width: 80%;
  height: 50px; 
  font-size: 16px;
  color: white; 
  background: green;
  border-radius: 3px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

@keyframes backgroundSwap {
  0% { background: indigo; }
  100% { background: orange; }
}

@keyframes colorSwap {
  0% { color: indigo; }
  100% { color: orange; }
}


